In [4]:
import pandas as pd
import numpy as np

Lento o arquivo

In [40]:
## leia o arquivo dados.csv e crie um dataframe
dados  = pd.read_csv('pokemon.csv')

In [42]:
dados.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [43]:
dados['Name'] =  dados["Name"].astype(str)
dados['Type 1'] = dados['Type 1'].astype(str)
dados['Type 2'] = dados['Type 2'].astype(str)
dados['HP'] = dados['HP'].astype(float)
dados['Attack'] = dados['Attack'].astype(float)
dados['Defense'] = dados['Defense'].astype(float)
dados['Sp. Atk'] = dados['Sp. Atk'].astype(float)
dados['Sp. Def'] = dados['Sp. Def'].astype(float)
dados['Speed'] = dados['Speed'].astype(float)
dados['Generation'] = dados['Generation'].astype(int)
dados['Legendary'] = dados['Legendary'].astype(bool)

dados.dtypes

#               int64
Name           object
Type 1         object
Type 2         object
HP            float64
Attack        float64
Defense       float64
Sp. Atk       float64
Sp. Def       float64
Speed         float64
Generation      int64
Legendary        bool
dtype: object

Remover dados ausentes

In [48]:
dados['Attack']

0       49.0
1       62.0
2       82.0
3      100.0
4       52.0
       ...
795    100.0
796    160.0
797    110.0
798    160.0
799    110.0
Name: Attack, Length: 800, dtype: float64